/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: $verde-claro;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius:10px;
   
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: $vermelho;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 15px;
    opacity: .5;
}

.close:hover,
.close:focus {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
   
    margin: 10px;
    background: rgba(255,255,255,.5);
    color: white;
    border-radius: 10px;
    .subtitulo{
        font-weight: 700;
        &::after{
             display: none;
        }
        padding:16px;
    }

}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/*--------------------------Modal Description ----------------------------------------------*/

.desc{
    h3{
        font-family: $fonte-1;
        text-transform: uppercase;
        font-size: 24px;
        color: $branco;
        font-weight: 700;
    }
    input{
        display: inline-block;
        border-color: $cinza-escuro;
    }
    ::-webkit-input-placeholder { /* Chrome */
          color: $cinza-escuro;
          opacity: 0.7;
        }
      ::-ms-input-placeholder { /* IE 10+ */
          color: $cinza-escuro;
          opacity: 0.7;
        }
      ::-moz-placeholder { /* Firefox 19+ */
          color: $cinza-escuro;
          opacity: 0.7;
        }
       ::-moz-placeholder { /* Firefox 4 - 18 */
          color: $cinza-escuro;
          opacity: 0.7;
        }
}



/*--------------------------Modal Box-item ----------------------------------------------*/

.box-item{
    background: $creme;
    border-radius: 10px;
    padding: 10px 0 30px 0;
    label{

        margin-left: 15px;
        p{
            display: inline-block;
            margin: auto 10px;
            font-family: $fonte-2;
            font-weight: 700;
            font-size: 20px;
        }
    }
}
