<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:400,700" rel="stylesheet">
     <link rel="stylesheet" href="{% static "admin_cohabitat/css/style.css" %}">
    <title>Admin-Itens</title>
</head>
<body id="config">
 
  <nav class="navbar">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
                <svg width="30" height="30">
                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
                </svg>
            </a>
        </span>
        
        <ul class="navbar-nav" >
           
            <li><a href="#"><span>&#xe986;</span></a></li>
            <div class="dropdown">
                 <li><a href="#" onclick="myFunction()" class="dropbtn">Batman<span>&#xf107;</span></a></li>
                  <div id="myDropdown" class="dropdown-content">
                    <a href="login.html">Sair</a>
                  </div>
            </div>
            <li><a href="#"><img src="{% static "admin_cohabitat/img/batman.png" %}" alt="Foto do Perfil"></a></li>
        </ul>
    </nav>
    
     <div id="side-menu" class="side-nav">
      <img src="{% static "admin_cohabitat/img/logo-login.png" %}" alt="Logo Coworking" class="logo-menu">
        <a href="#" class="btn-close" onclick="closeSlideMenu()"><span>&#xea0f;</span></a>
        <a href="menu.html"><span>&#xe900;</span>MENU</a>
        <a href="config.html"><span>&#xe994;</span>CONFIGURAÇÕES</a>
        <a href="recursos.html"><span>&#xe9a8;</span>RECURSOS</a>
        <a href="planos.html"><span>&#xe90e;</span>PLANOS</a>
        <a href="itens.html" class="active"><span>&#xe923;</span>ITENS</a>
        <a href="agenda.html"><span>&#xe900;</span>AGENDA</a>
        <a href="clientes.html"><span>&#xe972;</span>CLIENTES</a>
    </div>
    <div id="main">
       <div class="wrapper">
            <h1 class="titulo">Painel Administrativo</h1>
            
            <div class="contato cadastro planos">
               <h2 class="subtitulo">Consumíveis</h2>
                <div class="table">

                    <div class="th-cadastro">
                        <div class="cell top">Descrição</div>
                        <div class="cell top">Valor</div>
                        <div class="cell top">Editor</div>
                    </div>
                    
                    <div class="row td-cadastro">
                        <div class="cell">Café(500 ml)</div>
                        <div class="cell">R$ 5,00/ unidade</div>
                        <div class="cell">
                            <a href=""><span>&#xe905;</span></a>
                            <a href=""><span>&#xe9ac;</span></a>
                        </div>
                    </div>
                    
                    <div class="row td-cadastro">
                        <div class="cell bottom">Água(500 ml)</div>
                        <div class="cell bottom">R$ 2,00/ unidade</div>
                        <div class="cell bottom">
                            <a href=""><span>&#xe905;</span></a>
                            <a href=""><span>&#xe9ac;</span></a>
                        </div>
                    </div>
                     <button class="btn-small btn-table" id="myBtn">Adicionar Novo Item</button>
                </div>

           </div>
                
            <div class="contato cadastro planos">
               <h2 class="subtitulo">Serviços</h2>
                <div class="table">

                    <div class="th-cadastro">
                        <div class="cell top">Descrição</div>
                        <div class="cell top">Valor</div>
                        <div class="cell top">Editor</div>
                    </div>
                    
                    <div class="row td-cadastro">
                        <div class="cell">Impressão P&amp;B</div>
                        <div class="cell">R$ 0,10/ unidade</div>
                        <div class="cell">
                            <a href=""><span>&#xe905;</span></a>
                            <a href=""><span>&#xe9ac;</span></a>
                        </div>
                    </div>
                    
                    <div class="row td-cadastro">
                        <div class="cell bottom">Impressão Colorida</div>
                        <div class="cell bottom">R$ 0,25/ unidade</div>
                        <div class="cell bottom">
                            <a href=""><span>&#xe905;</span></a>
                            <a href=""><span>&#xe9ac;</span></a>
                        </div>
                    </div>
                     <button class="btn-small btn-table" id="myBtn">Adicionar Novo Item</button>
                </div>


           </div>
        </div>
    </div>

  <!-- The Modal_1 -->

    <div id="myModal" class="modal">
     <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
              <span class="close">&#xea0f;</span>
              <h2 class="subtitulo">Novo Item Consumível</h2>
          </div>
          <div class="modal-body wrapp">

                  <div class="desc">
                      <h3>Descrição:</h3>
                      <form action="" class="form">
                          <input type="text" placeholder="Itens">
                      </form>
                  </div>
                  <div class="desc">
                      <h3>Valor:</h3>
                      <form action="" class="form">
                          <input type="text" placeholder="Valor">
                      </form>
                  </div>

                  <form action="" class="form-2">
                    <button class="btn-grande btn-cancelar">Cancelar</button>
                    <button class="btn-grande btn-salvar">Salvar</button>
                 </form>
          </div>
              <div class="modal-footer">
                  <h3> </h3>
              </div>
        </div>
    </div>

    <script src="{% static "admin_cohabitat/js/main.js" %}"></script>
</body>
</html>